<!DOCTYPE html>
<head>
        <style type="text/css">
          
            h1{
                border-bottom: 2px;
                position:absolute;
                left:35%;
            }
         
                
                       h1{
                        background-color:black;
                        color: white;
                        }</style>
    <h1>INSTRUCTIONS!</h1><br><br><br>
    <h2>Start securing your home </h2>
    <p><b>The above button,you will get live approach of critical region<br><p></b>
    <p><b><ul>
        <li>Proximity Sensor:</li></b>
        <p>
            when you click on it,the proximity sensor which detects the presnce of nearby objects is enabled.
        </p>
        <li><b>Enable light sensor:</b></li>
        <p>when you click on it,the light sensor is enabled  </p>
        
        <li><b>Enable Battery level reader:</b></li>
        <p>when you click on it,the present battery level is shown and an alert message is recieved by the user when the battery level goes below specified level. </p>
    </ul></p>
    <hr>
    <h2>Start using intruder detection </h2>
    <p><b>The sensors start detecting the intruder actions<br><p></b>
        <hr>
    <h2>When you click on</h2>
    <ul>
       <li><b> Who entered your home today? </li></b>
        <p>The above button takes user to gallery where photos are captured in certain time interval with face detection in the critical section</b></p>
        <li><b>Irregular motion detected </li></b> 
        <p>when the user is out of station this detects the unusual motion in critical region and gives warning to the user and location to police</p>
         <li><b>Missing items</li></b>
        <p>Photo density of the captured images are compared and missing objets in critical region are detected</p>
    </ul>
    <hr>
    <h2>NOTE:</h2>
   <b><p>Once you exit from the chosen section,the particular sensors are disabled.<br>You need to start over again.</p></b> 

   <a href="{% url 'home2' %}" ><button class="te4">use technocrat solutions</button></a>


</head>