<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.t1
		{
			font-size: 50px;
			top:50%;
			right:20%;
		}
	</style>
	<title></title>
</head>
<body>
    <a href="http://192.168.43.1:8080/video" ><button class="te4">smart doorcamera,,click here to get a live feed  of ur camera</button></a>
        <a href="{% url 'second' %}" ><button class="te4">technocrat home security solutions</button></a>

         <a href="http://127.0.0.2:8080" ><button class="te4">check all the frames for manual analysis</button></a>
          <a href="{% url 'outof' %}" ><button class="te4">are u going out of station? let us secure the home till u come back</button></a>

<p class="t1">__TECHNOCRATS HOME SECURITY SOLUTIONS______</p>

</body>
</html>